<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>芈小兔后台管理系统</title>
    <!--STYLESHEET-->
    <link href="/static/hack/layui/css/layui.css" rel="stylesheet" >
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admin/css/nifty.min.css" rel="stylesheet">
    <link href="/static/admin/css/demo/nifty-demo-icons.min.css" rel="stylesheet">
    <link href="/static/admin/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
    <link href="/static/admin/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="/static/admin/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/admin/css/my.css" rel="stylesheet">

    <!--JAVASCRIPT-->
    <script src="/static/admin/js/jquery-2.2.4.min.js"></script>
    <script src="/static/admin/js/jquery.cookie.js"></script>
    <script src="/static/admin/js/bootstrap.min.js"></script>
    <script src="/static/admin/js/nifty.min.js"></script>
    <script src="/static/admin/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/static/hack/layui/layui.js"></script>
    <script src="/static/admin/js/myself.min.js"></script>
</head>
<body>
    <div id="container" class="effect aside-float aside-bright mainnav-lg navbar-fixed aside-fixed mainnav-fixed">