{include file="layout/header"}
{include file="layout/navbar"}


        <div class="boxed">

            <!--CONTENT CONTAINER-->
			<!--===================================================-->
			<div id="content-container" style="">

				
			 <h3 style="padding-left:20px;">欢迎您！</h3>
				


			</div>
			<!--===================================================-->
			<!--END CONTENT CONTAINER-->

            
            {include file="layout/menu"}

        </div>
		
		{include file="layout/footer"}
        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->
    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
	
</body>
</html>
