{include file="layout/header"}
{include file="layout/navbar"}
        <!--END NAVBAR-->
        <div class="boxed">
            <!--CONTENT CONTAINER-->
            <div id="content-container">
                <!--End breadcrumb-->
                <!--Page content-->
                <div id="page-content">
					<div class="row">
					    <div class="col-lg-12">
					        <div class="panel">
                                {include file="layout/bread"}
					            <!-- BASIC FORM ELEMENTS -->
					            <form method="post" action="addDo" id="add_form" class="Validform">
                                    <div class="panel-body form-horizontal form-padding">
                
                                        <!--text-->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">角色名称：</label>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" placeholder="请填写角色名称" name="role_name" value="" datatype="*"  >
                                            </div>
                                        </div>

                                        <!--Radio-->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">是否启用：</label>
                                            <div class="col-md-5">
                                                <div class="radio">

                                                    <input id="radio-1" class="magic-radio" type="radio" name="status" value="1" checked><label for="radio-1">启用</label>
                                                    <input id="radio-2" class="magic-radio" type="radio" name="status" value="0"><label for="radio-2">禁用</label>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
					            <!-- END BASIC FORM ELEMENTS -->
                                <div class="panel-footer text-right">
                                    <button class="btn btn-success" type="button" onclick="submit_prev('add_form')">提交</button>
                                </div>
                                </form>
					        </div>
					    </div>
					</div>

                </div>
                <!--End page content-->
            </div>
            <!--END CONTENT CONTAINER-->
            <!--ASIDE-->
            <!--END ASIDE-->
            <!--MAIN NAVIGATION-->
            {include file="layout/menu"}
            <!--END MAIN NAVIGATION-->
        </div>
        <!-- FOOTER -->
        {include file="layout/footer"}
        <!-- END FOOTER -->
        <!-- SCROLL PAGE BUTTON -->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
    </div>
    <!-- END OF CONTAINER -->
</body>
</html>
