{include file="layout/header"}
{include file="layout/navbar"}
        <!--END NAVBAR-->
        <div class="boxed">
            <!--CONTENT CONTAINER-->
            <div id="content-container">
                <!--Page content-->
                <div id="page-content">
					<div class="row">
					<div class="panel">
                        {include file="layout/bread"}

					    <!--Data Table-->
					    <div class="panel-body">
					        <div class="pad-btm form-inline">
					            <div class="row">
                                                        <div class="col-sm-6 table-toolbar-left">
                                                        </div>
					                <div class="col-sm-6 table-toolbar-right">
					                    <a class="btn btn-purple" href="{:url('role/add')}"><i class="demo-pli-add"></i> 新增</a>
					                </div>
					            </div>
					        </div>
					        <div class="table-responsive">
                                <table class="table table-bordered table-hover toggle-circle form-horizontal" data-page-size="7">
                                    <thead>
                                    <tr>
                                        <!-- <th width="20"></th> -->
                                        <th>ID</th>
                                        <th>角色</th>
                                        <th>状态</th>
                                        <th>创建时间</th>
                                        <th>最后修改时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="list.data" id="vo"}
                                    <tr>
                                        <!-- <td>
                                            <input id="list-{$key}" class="magic-checkbox" type="checkbox" value="{$item.id}" >
                                            <label for="list-{$key}"></label>
                                        </td> -->
                                        <td>{$vo.id}</td>
                                        <td>{$vo.role_name}</td>
                                        <td>{if $vo.status==1}启用{else}禁用{/if}</td>
                                        <td>{$vo.create_tm}</td>
                                        <td>{$vo.update_tm}</td>
                                        <td>
                                            <div class="btn-group">
                                                {if in_array("/role/editpermission",$adminAllowNodeList)}
                                                <a href="/role/editPermission?id={$vo.id}" class="btn-xs btn btn-primary">分配权限</a>
                                                {/if}
                                                {if in_array("/role/edit",$adminAllowNodeList)}
                                                <a href="{:url('role/edit','&id='.$vo.id)}" class="btn-xs btn btn-dark">编辑</a>
                                                {/if}
                                                {if in_array("/role/setdelete",$adminAllowNodeList)}
                                                {if condition="$vo['adminCount'] eq 0"}
                                                <a  onclick="del({$vo.id})" class="btn-xs btn btn-danger">删除</a>
                                                {/if}
                                                {/if}
                                            </div>
                                        </td>
                                    </tr>
                                    {/volist}
                                    {if empty($list['data'])}
                                    <tr>
                                        <td colspan="6" style="text-align:center !important;">暂无数据</td>
                                    </tr>
                                    {/if}
                                    </tbody>
                                </table>
                                <div class="text-right">
                                    {$page}
                                </div>
                            </div>
					        </div>
					    </div>
					    <!--End Data Table-->
					</div>
                </div>
                <!--End page content-->
            </div>
            <!--END CONTENT CONTAINER-->
            <!--ASIDE-->
            <!--END ASIDE-->
            <!--MAIN NAVIGATION-->
            {include file="layout/menu"}
            <!--END MAIN NAVIGATION-->
        </div>
        <!-- FOOTER -->
        {include file="layout/footer"}
        <!-- END FOOTER -->
    </div>
    <!-- END OF CONTAINER -->
    <script>
        $(function () {

        })
    </script>
</body>
</html>

